{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

        <!-- Hero Start -->
        <section class="bg-profile d-table w-100 bg-primary" style="background: url({% static 'images/dashboard-bg.png' %}) center center;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-3 text-md-start text-center">
                                        <img src="{% static 'images/avatar.png' %}" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                    </div><!--end col-->

                                    <div class="col-lg-10 col-md-9">
                                        <div class="row align-items-end">
                                            <div class="col-md-7 text-md-start text-center mt-4 mt-sm-0">
                                                <h3 class="title mb-0">{{request.user.get_full_name}}</h3>
                                                <small class="text-muted h6 me-2">{{request.user.email}}</small>
                                            </div><!--end col-->
                                            <div class="col-md-5 text-md-end text-center">
                                                <ul class="list-unstyled social-icon social mb-0 mt-4">
                                                    <li class="list-inline-item"><a href="{% url 'account_sett' %}" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="تنظیمات"><i class="uil uil-cog align-middle"></i></a></li>
                                                    <li class="list-inline-item"><a href="{% url 'logout' %}" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="خروج"><i class="uil uil-sign-out-alt align-middle"></i></a></li>
                                                </ul><!--end icon-->
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--ed container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Profile Start -->
        <!-- Profile Start -->
        <section class="section mt-60">
            <div class="container mt-lg-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 d-lg-block d-none">
                        <div class="sidebar sticky-bar p-4 rounded shadow">

                            <div class="widget mt-4 pt-2">
                                <h5 class="widget-title">داشبورد  :</h5>
                            </div>

                            <div class="widget mt-4">
                                <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
                                    <li class="navbar-item account-menu px-0">
                                        <a href="{% url 'dashboard' %}" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-user"></i></span>
                                            <h6 class="mb-0 ms-2">پروفایل </h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="{% url 'account_fav' %}" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-favorite"></i></span>
                                            <h6 class="mb-0 ms-2">نشان شده ها </h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="account-works.html" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-list-ul"></i></span>
                                            <h6 class="mb-0 ms-2">سفارش ها </h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="{% url 'account_sett' %}" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-setting"></i></span>
                                            <h6 class="mb-0 ms-2">تنظیمات </h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="{% url 'logout' %}" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-sign-out-alt"></i></span>
                                            <h6 class="mb-0 ms-2">خروج </h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="widget mt-4 pt-2">
                                <h5 class="widget-title">دنبال کردن ما :</h5>
                                <ul class="list-unstyled social-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-12">
                        <div class="card border-0 rounded shadow">
                            <div class="card-body">
                                <h5 class="text-md-start text-center">اطلاعات شخصی :</h5>

                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="user" value="{{request.user.pk}}">
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">نام: <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input name="firstname" id="firstname" type="text" class="form-control ps-5" placeholder="نام:" value="{{current_user.firstname}}">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">نام خانوادگی: <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user-check" class="fea icon-sm icons"></i>
                                                    <input name="lastname" id="lastname" type="text" class="form-control ps-5" placeholder="نام خانوادگی :" value="{{current_user.lastname}}">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">کد ملی: <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="code" class="fea icon-sm icons"></i>
                                                    <input name="meli_code" id="meli_code" type="text" class="form-control ps-5" placeholder="کد ملی :" value="{{current_user.meli_code}}">
                                                </div>
                                            </div> 
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">موبایل: <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="smartphone" class="fea icon-sm icons"></i>
                                                    <input name="mobile_phone" id="mobile_phone" type="text" class="form-control ps-5" placeholder="شماره موبایل به همراه صفر :" value="{{current_user.mobile_phone}}">
                                                </div>
                                            </div> 
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">تلفن ثابت: <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="phone" class="fea icon-sm icons"></i>
                                                    <input name="home_phone" id="home_phone" type="text" class="form-control ps-5" placeholder="شماره تلفن ثابت به همراه کد شهر :" value="{{current_user.home_phone}}">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">کد پستی: <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="flag" class="fea icon-sm icons"></i>
                                                    <input name="post_code" id="post_code" type="text" class="form-control ps-5" placeholder="کد پستی ۱۰ رقمی :" value="{{current_user.post_code}}">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">استان: <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="map" class="fea icon-sm icons"></i>
                                                    <input name="state" id="state" type="text" class="form-control ps-5" placeholder="استان :" value="{{current_user.state}}">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">شهر: <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="map-pin" class="fea icon-sm icons"></i>
                                                    <input name="city" id="city" type="text" class="form-control ps-5" placeholder="شهر :" value="{{current_user.city}}">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">آدرس محل سکونت <span class="text-danger">*</span></label>
                                                <input type="text" name="address" id="address" class="form-control" placeholder="آدرس کامل" value="{{current_user.address}}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" id="update_submit" name="update_submit" class="btn btn-primary" value="ذخیره تغییرات">
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div>
                                </form><!--end form-->

                                
                                <div class="row">
                                    <div class="col-md-6 mt-4 pt-2">
                                                    {% if form.errors %}
                                            <div class="alert alert-error">
                                                {% if messages %}
                                                    {% for message in messages %}
                                                      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                                                    {% endfor %}
                                                  {% endif %}
                                              <h4>Please fix the following errors</h4>
                                              <ul>
                                                {% for field in form %}
                                                  {% if field.errors %}
                                                    {% for error in field.errors %}
                                                      <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                                                    {% endfor %}
                                                  {% endif %}
                                                {% endfor %}
                                              </ul>
                                              {% if form.non_field_errors %}
                                                {{ form.non_field_errors }}
                                              {% endif %}
                                            </div>
                                        {% endif %}
                                        <h5>تغییر رمز عبور : </h5>
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="row mt-4">
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">رمز عبور قدیمی : </label>
                                                        <div class="form-icon position-relative">
                                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                                            <input type="password" name="last_pass" class="form-control ps-5" placeholder="رمز قدیمی" required="">
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">رمز عبور جدید : </label>
                                                        <div class="form-icon position-relative">
                                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                                            <input type="password" name="new_pass" class="form-control ps-5" placeholder="رمز جدید" required="">
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">تایید رمز عبور جدید : </label>
                                                        <div class="form-icon position-relative">
                                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                                            <input type="password" name="new_pass_conf" class="form-control ps-5" placeholder="رمز عبور جدید" required="">
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-12 mt-2 mb-0">
                                                    <button type="submit" name="change_pass_submit" class="btn btn-primary">ذخیره رمز عبور </button>
                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </form>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>

                        <div class="rounded shadow mt-4">
                            <div class="p-4 border-bottom">
                                <h5 class="mb-0 text-danger">حذف اکانت :</h5>
                            </div>

                            <div class="p-4">
                                <h6 class="mb-0">آیا می خواهید حساب را حذف کنید؟ لطفاً زیر دکمه "حذف" را فشار دهید</h6>
                                <div class="mt-4">
                                    <button class="btn btn-danger">حذف اکانت</button>
                                </div><!--end col-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- تنظیمات پروفایل End -->
{% endblock %}