{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load mathfilters %}
{% block content %}

        <!-- Hero Start -->
        <section class="bg-profile d-table w-100 bg-primary" style="background: url({% static 'images/dashboard-bg.png' %}) center center;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-3 text-md-start text-center">
                                        <img src="{% static 'images/avatar.png' %}" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                    </div><!--end col-->

                                    <div class="col-lg-10 col-md-9">
                                        <div class="row align-items-end">
                                            <div class="col-md-7 text-md-start text-center mt-4 mt-sm-0">
                                                <h3 class="title mb-0">{{request.user.get_full_name}}</h3>
                                                <small class="text-muted h6 me-2">{{request.user.email}}</small>
                                            </div><!--end col-->
                                            <div class="col-md-5 text-md-end text-center">
                                                <ul class="list-unstyled social-icon social mb-0 mt-4">
                                                    <li class="list-inline-item"><a href="{% url 'account_sett' %}" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="تنظیمات"><i class="uil uil-cog align-middle"></i></a></li>
                                                    <li class="list-inline-item"><a href="{% url 'logout' %}" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="خروج"><i class="uil uil-sign-out-alt align-middle"></i></a></li>
                                                </ul><!--end icon-->
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--ed container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Profile Start -->
        <!-- Profile Start -->
        <section class="section mt-60">
            <div class="container mt-lg-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 d-lg-block d-none">
                        <div class="sidebar sticky-bar p-4 rounded shadow">
                            <div class="widget mt-4 pt-2">
                                <h5 class="widget-title">داشبورد  :</h5>
                            </div>

                            <div class="widget mt-4">
                                <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
                                    <li class="navbar-item account-menu px-0">
                                        <a href="{% url 'dashboard' %}" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-user"></i></span>
                                            <h6 class="mb-0 ms-2">پروفایل </h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="{% url 'account_fav' %}" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-favorite"></i></span>
                                            <h6 class="mb-0 ms-2">نشان شده ها </h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="{% url 'account_ord' %}" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-list-ul"></i></span>
                                            <h6 class="mb-0 ms-2">سفارش ها </h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="{% url 'account_sett' %}" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-setting"></i></span>
                                            <h6 class="mb-0 ms-2">تنظیمات </h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="{% url 'logout' %}" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-sign-out-alt"></i></span>
                                            <h6 class="mb-0 ms-2">خروج </h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="widget mt-4 pt-2">
                                <h5 class="widget-title">دنبال کردن ما :</h5>
                                <ul class="list-unstyled social-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-12">
                        <div class="rounded shadow p-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">لیست سفارش ها:</h5>
                            </div>
                            <br>
                            <!-- Modal Content Start -->
                            {% for order in orders %}
                            <div class="modal fade" id="p{{order.order_id}}" tabindex="-1" aria-labelledby="composemail-title" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content rounded shadow border-0">
                                        <div class="modal-header border-bottom">
                                            <h5 class="modal-title" id="composemail-title">جزئیات سفارش {{order.order_id}}</h5><br>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                                        </div>
                                        <div class="modal-body p-4" style="overflow-y: scroll; height:400px;">
                                            {% for p in order.product.all %}
                                            <div class="d-flex border-bottom p-3">
                                                <div class="form-check ps-0">
                                                    <div class="mb-0">
                                                        <div class="form-check">
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="{% url 'bookstore_single' book_id=p.book.id %}">
                                                    <div class="d-flex ms-2">
                                                        <img src="{{p.book.image.url}}" class="img-fluid avatar avatar-small rounded shadow" style="height:auto;" alt="">
                                                        <div class="flex-1 ms-3">
                                                            <h6 class="text-dark">نام کتاب : {{p.book.title}}</h6>
                                                            <p class="text-muted mb-0">تعداد : {{p.count}}</p>
                                                             <p class="text-muted mb-0">قیمت : {{p.book.price|mul:p.count|currency}} تومان</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="border-top p-4">
                                            <h6 class="modal-title" id="pay-title">مجموع قیمت : {{order.total_price|currency}} تومان</h6>
                                            <h6 class="modal-title" id="pay-title">وضعیت سفارش : پرداخت شده</h6>
                                            <h6 class="modal-title" id="pay-title">تاریخ ثبت سفارش : {{order.created_date|shamsidate}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Content End -->
                            {% endfor %}

                            {% for order in orders %}
                            <div class="d-flex border-bottom p-3">
                                <a href="javascript:void(0)">
                                    <div class="d-flex ms-2">
                                        <img src="{% static 'images/order-logo.png' %}" data-bs-toggle="modal" data-bs-target="#p{{order.order_id}}" class="avatar avatar-md-sm rounded-pill shadow" alt="">
                                        <div class="flex-1 ms-3">
                                            <h6 class="text-dark" data-bs-toggle="modal" data-bs-target="#p{{order.order_id}}">سفارش {{order.order_id}}</h6>
                                            <p class="text-muted mb-0" data-bs-toggle="modal" data-bs-target="#p{{order.order_id}}">{{order.created_date|shamsidate}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Profile End -->
{% endblock %}