{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url({% static 'images/company/aboutus.jpg' %});">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level title-heading">
                            <h1 class="text-white title-dark"> درباره ما </h1>
                            <p class="text-white-50 para-desc mb-0 mx-auto">هر آنچه که باید از ما بدانید اینجاست.</p>
                            <div class="page-next">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه اصلی</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->

        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Hero End -->

        <section class="section">
            <div class="container">
                <div class="row align-items-center" id="counter">
                    <div class="col-md-6">
                        <img src="{% static 'images/company/about2.png' %}" class="img-fluid" alt="">
                    </div><!--end col-->

                    <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="ms-lg-4">
                            <div class="d-flex mb-4">
                                <span class="text-primary h1 mb-0"><span class="counter-value display-1 fw-bold" data-target="15">0</span>+</span>
                                <span class="h6 align-self-end ms-2">سال <br> تجربه </span>
                            </div>
                            <div class="section-title">
                                <h4 class="title mb-4">ما کی هستیم ؟</h4>
                                <p class="text-muted">شروع به کار با <span class="text-primary fw-bold"> لنـدریـک  </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند. متن ساختگی متنی است که در صنعت نشر یا طراحان وب برای اشغال فضایی استفاده می شود که بعداً با محتوای واقعی پر خواهد شد. این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست. متون ساختگی از قرن شانزدهم مورد استفاده حروفچینی ها قرار گرفته اند.</p>
                                <a href="javascript:void(0)" class="btn btn-primary mt-3">تماس با ما</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->


        </section><!--end section-->

        <section class="section bg-light">
            <div class="container mt-100 mt-60">
                <div class="row align-items-end mb-4 pb-4">
                    <div class="col-md-8">
                        <div class="section-title text-center text-md-start">
                            <h6 class="text-primary">خدمات </h6>
                            <h4 class="title mb-4">چه کاری انجام می دهیم؟</h4>
                            <p class="text-muted mb-0 para-desc">شروع به کار با <span class="text-primary fw-bold"> لنـدریـک  </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند.</p>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 mt-4 mt-sm-0">
                        <div class="text-center text-md-end">
                            <a href="javascript:void(0)" class="text-primary h6">نمایش بیشتر <i class="uil uil-angle-left-b align-middle"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-md-4 mt-4 pt-2">
                        <ul class="nav nav-pills nav-justified flex-column bg-white rounded shadow p-3 mb-0 sticky-bar" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link rounded active" id="webdeveloping" data-bs-toggle="pill" href="#developing" role="tab" aria-controls="developing" aria-selected="false">
                                    <div class="text-center py-1">
                                        <h6 class="mb-0">تحقیقات</h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->

                            <li class="nav-item mt-2">
                                <a class="nav-link rounded" id="database" data-bs-toggle="pill" href="#data-analise" role="tab" aria-controls="data-analise" aria-selected="false">
                                    <div class="text-center py-1">
                                        <h6 class="mb-0">وبلاگ</h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->

                            <li class="nav-item mt-2">
                                <a class="nav-link rounded" id="server" data-bs-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
                                    <div class="text-center py-1">
                                        <h6 class="mb-0">پادکست</h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->

                            <li class="nav-item mt-2">
                                <a class="nav-link rounded" id="webdesigning" data-bs-toggle="pill" href="#designing" role="tab" aria-controls="designing" aria-selected="false">
                                    <div class="text-center py-1">
                                        <h6 class="mb-0">همکاری</h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                        </ul><!--end nav pills-->
                    </div><!--end col-->

                    <div class="col-md-8 col-12 mt-4 pt-2">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="developing" role="tabpanel" aria-labelledby="webdeveloping">
                                <img src="{% static 'images/work/7.jpg' %}" class="img-fluid rounded shadow" alt="">
                                <div class="mt-4">
                                    <p class="text-muted">این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست. متن ساختگی به عنوان 'متن پر نیز شناخته می شود'. گفته می شود که آهنگسازان آهنگ های گذشته از متن ساختگی به عنوان شعر استفاده می کردند.</p>
                                    <a href="javascript:void(0)" class="text-primary">نمایش بیشتر <i class="uil uil-angle-left-b align-middle"></i></a>
                                </div>
                            </div><!--end teb pane-->

                            <div class="tab-pane fade bg-white p-4 rounded shadow" id="data-analise" role="tabpanel" aria-labelledby="database">
                                <img src="{% static 'images/work/8.jpg' %}" class="img-fluid rounded shadow" alt="">
                                <div class="mt-4">
                                    <p class="text-muted">این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست. متن ساختگی به عنوان 'متن پر نیز شناخته می شود'. گفته می شود که آهنگسازان آهنگ های گذشته از متن ساختگی به عنوان شعر استفاده می کردند.</p>
                                    <a href="javascript:void(0)" class="text-primary">نمایش بیشتر <i class="uil uil-angle-left-b align-middle"></i></a>
                                </div>
                            </div><!--end teb pane-->

                            <div class="tab-pane fade bg-white p-4 rounded shadow" id="security" role="tabpanel" aria-labelledby="server">
                                <img src="{% static 'images/work/9.jpg' %}" class="img-fluid rounded shadow" alt="">
                                <div class="mt-4">
                                    <p class="text-muted">این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست. متن ساختگی به عنوان 'متن پر نیز شناخته می شود'. گفته می شود که آهنگسازان آهنگ های گذشته از متن ساختگی به عنوان شعر استفاده می کردند.</p>
                                    <a href="javascript:void(0)" class="text-primary">نمایش بیشتر <i class="uil uil-angle-left-b align-middle"></i></a>
                                </div>
                            </div><!--end teb pane-->

                            <div class="tab-pane fade bg-white p-4 rounded shadow" id="designing" role="tabpanel" aria-labelledby="webdesigning">
                                <img src="{% static 'images/work/12.jpg' %}" class="img-fluid rounded shadow" alt="">
                                <div class="mt-4">
                                    <p class="text-muted">این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست. متن ساختگی به عنوان 'متن پر نیز شناخته می شود'. گفته می شود که آهنگسازان آهنگ های گذشته از متن ساختگی به عنوان شعر استفاده می کردند.</p>
                                    <a href="javascript:void(0)" class="text-primary">نمایش بیشتر <i class="uil uil-angle-left-b align-middle"></i></a>
                                </div>
                            </div><!--end teb pane-->
                        </div><!--end tab content-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->

        <!-- Start -->

        <!-- End -->

{% endblock %}