{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
        
        <!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url({% static 'images/guide-main.jpg' %});">
            <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <div class="page-next-level">
                                <h2 class="text-white title-dark">{{post.title}}</h2>
                                <ul class="list-unstyled mt-4">
                                    <li class="text-white-50 para-desc mb-0 mx-auto"><i class="mdi mdi-account"></i>{{post.author.get_full_name}} </li>
                                    <li class="text-white-50 para-desc mb-0 mx-auto"><i class="mdi mdi-calendar-check"></i>{{post.published_date|shamsidate}}</li>
                                </ul>
                                <div class="page-next">
                                    <nav aria-label="breadcrumb" class="d-inline-block">
                                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                                            <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه اصلی</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'blog' %}">بلاگ</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->

        <!-- Blog STart -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <!-- BLog Start -->
                    <div class="col-lg-8 col-md-6">
                        <div class="card blog blog-detail border-0 shadow rounded">
                            <img src="{{post.image.url}}" class="img-fluid rounded-top" alt="">
                            <div class="card-body content">
                                <h6><i class="mdi mdi-tag text-primary me-1"></i>{% for cat in post.category.all %}<a href="{% url 'blog_category' cat_name=cat.name %}" class="text-primary">{{cat.name}}</a>{% if not forloop.last %} , {% endif %}{% endfor %}</h6>
                                <p class="text-muted mt-3">{{post.content|safe}}</p>
                            </div>
                        </div>

                        <div class="card shadow rounded border-0 mt-4">
                            <div class="card-body">
                                <h5 class="card-title mb-0">نظرات :</h5>

                                <ul class="media-list list-unstyled mb-0">
                                    {% for comment in comments %}
                                    <li class="mt-4">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <a class="pe-3" href="#">
                                                    <img src="{% static 'images/avatar.png' %}" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                </a>
                                                <div class="commentor-detail">
                                                    <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark media-heading">{{comment.name}}</a></h6>
                                                    <small class="text-muted">{{comment.created_date|shamsidate}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <p class="text-muted fst-italic p-3 bg-light rounded">"{{comment.message}}"</p>
                                        </div>
                                    </li>
                                        {% empty %}
                                        <br>
                                        <p>هیج نظری تا به اینجا ثبت نشده است!</p>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="card shadow rounded border-0 mt-4">
                            {% if messages %}
                                {% for message in messages %}
                                  <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                                {% endfor %}
                              {% endif %}

                              {% if form.errors %}
                                <div class="alert alert-error">
                                  <h4>Please fix the following errors</h4>
                                  <ul>
                                    {% for field in form %}
                                      {% if field.errors %}
                                        {% for error in field.errors %}
                                          <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                                        {% endfor %}
                                      {% endif %}
                                    {% endfor %}
                                  </ul>
                                  {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                  {% endif %}
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <h5 class="card-title mb-0">ارسال نظر :</h5>

                                <form class="mt-3" action="{% url 'blog_single' post_id=post.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="post" value={{post.id}}>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label">نظر شما</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                                    <textarea id="message" placeholder="کامنت شما" rows="5" name="message" class="form-control ps-5" required=""></textarea>
                                                </div>
                                            </div>
                                        </div><!--end col-->
    
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">نام  <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input id="name" name="name" type="text" placeholder="نام" class="form-control ps-5" required="">
                                                </div>
                                            </div>
                                        </div><!--end col-->
    
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">ایمیل شما <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                                    <input id="email" type="email" placeholder="ایمیل" name="email" class="form-control ps-5" required="">
                                                </div>
                                            </div>
                                        </div><!--end col-->
    
                                        <div class="col-md-12">
                                            <div class="send d-grid">
                                                <button type="submit" class="btn btn-primary">ارسال پیام</button>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form><!--end form-->
                            </div>
                        </div>

                        <div class="card shadow rounded border-0 mt-4">
                            <div class="card-body">
                                <h5 class="card-title mb-0">پست های اخیر :</h5>

                                <div class="row">
                                    {% for post in end_last_posts %}
                                    <div class="col-lg-6 mt-4 pt-2">
                                        <div class="card blog rounded border-0 shadow">
                                            <div class="position-relative">
                                                <img src="{{post.image.url}}" class="card-img-top rounded-top" alt="...">
                                            <div class="overlay rounded-top bg-dark"></div>
                                            </div>
                                            <div class="card-body content">
                                                <h5><a href="{% url 'blog_single' post_id=post.id %}" class="card-title title text-dark">{{post.title}}</a></h5>
                                                <div class="post-meta d-flex justify-content-between mt-3">
                                                    {{post.content|striptags|truncatechars:100}}
                                                </div>
                                            </div>
                                            <div class="author">
                                                <small class="text-light user d-block"><i class="uil uil-user"></i> {{post.author.get_full_name}}</small>
                                                <small class="text-light date"><i class="uil uil-calendar-alt"></i>  {{post.published_date|shamsidate}}</small>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    {% endfor %}
                                </div><!--end row-->
                            </div>
                        </div>
                    </div>
                    <!-- BLog End -->

                    <!-- START SIDEBAR -->
                    <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card border-0 sidebar sticky-bar rounded shadow">
                            <div class="card-body">
                                <!-- SEARCH -->
                                <div class="widget">
                                    <form role="search" method="get" action="{% url 'blog_search' %}">
                                        <div class="input-group mb-3 border rounded">
                                            <input type="text" id="s" name="s" class="form-control border-0" placeholder="جستجوی کلمه کلیدی...">
                                            <button type="submit" class="input-group-text bg-transparent border-0" id="searchsubmit"><i class="uil uil-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <!-- SEARCH -->
    
                                <!-- Categories -->
                                <div class="widget mb-4 pb-2">
                                    <h5 class="widget-title">دسته بندیها </h5>
                                    <ul class="list-unstyled mt-4 mb-0 blog-categories">
                                        {% for cat in categories %}
                                            <li><a href="{% url 'blog_category' cat_name=cat.name %}">{{cat.name}}</a> <span class="float-end">{{cat.posts_count}}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- Categories -->
    
                                <!-- پست های اخیر -->
                                <div class="widget mb-4 pb-2">
                                    <h5 class="widget-title">پست های اخیر</h5>
                                    <div class="mt-4">
                                        {% for post in last_posts %}
                                        <div class="clearfix post-recent">
                                            <div class="post-recent-thumb float-start"> <a href="{% url 'blog_single' post_id=post.id %}"> <img alt="img" src="{{post.image.url}}" class="img-fluid rounded"></a></div>
                                            <div class="post-recent-content float-start"><a href="{% url 'blog_single' post_id=post.id %}">{{post.title}} </a><span class="text-muted mt-2">{{post.published_date|shamsidate}}</span></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- پست های اخیر -->
    
                                <!-- TAG CLOUDS -->
                                <div class="widget mb-4 pb-2">
                                    <h5 class="widget-title">برچسب های ابری</h5>
                                    <div class="tagcloud mt-4">
                                        {% for tag in tags %}
                                            <a href="{% url 'blog_tag' tag_name=tag.name %}" class="rounded"> {{tag.name}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- TAG CLOUDS -->
                                
                                <!-- SOCIAL -->
                                <div class="widget">
                                    <h5 class="widget-title">دنبال کردن ما</h5>
                                    <ul class="list-unstyled social-icon mb-0 mt-4">
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                                    </ul><!--end icon-->
                                </div>
                                <!-- SOCIAL -->
                            </div>
                        </div>
                    </div><!--end col-->
                    <!-- END SIDEBAR -->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Blog End -->

{% endblock %}