{% extends 'base.html' %}
{% block title %} وبسایت پیشه - راهنمایی {% endblock %}
{% load static %}
{% load blog_tags %}
{% block content %}
        
        <!-- Hero Start -->
         <section class="bg-half d-table w-100" style="background: url({% static 'images/guide-bg-home.jpg' %});">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level title-heading">
                            <h1 class="text-white title-dark"> راهنمایی </h1>
                            <p class="text-white-50 para-desc mb-0 mx-auto">در اینجا درباره ی فعالیت سایت و مقاله ها بخوانید و به اشتراک بگذارید.</p>
                            <div class="page-next">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه اصلی</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">راهنمایی</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->


        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Hero End -->
        
        <!--Blog Lists Start-->
        <section class="section">
            <div class="container">
                <div class="row">
                    <!-- Blog Post Start -->
                    <div class="col-lg-8 col-12">
                        <div class="row">
                            {% for paper in papers %}
                            <div class="col-12 mb-4 pb-2">
                                <div class="card blog rounded border-0 shadow overflow-hidden">
                                    <div class="row align-items-center g-0">
                                        <div class="col-md-6">
                                            <img src="{{paper.image.url}}" class="img-fluid" alt="">
                                            <div class="overlay bg-dark"></div>
                                            <div class="author">
                                                <small class="text-light user d-block"><i class="uil uil-user"></i> پیشه</small>
                                                <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{paper.published_date|shamsidate}} </small>
                                            </div>
                                        </div><!--end col-->
        
                                        <div class="col-md-6">
                                            <div class="card-body content">
                                                <h5><a href="{% url 'guide_single' paper_id=paper.id %}" class="card-title title text-dark">{{paper.title}}</a></h5>
                                                <p class="text-muted mb-0">{{paper.content|striptags|truncatechars:100}}</p>
                                                <div class="post-meta d-flex justify-content-between mt-3">

                                                    <a href="page-blog-detail.html" class="text-muted readmore">ادامه مطلب  <i class="uil uil-angle-left-b align-middle"></i></a>
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                    </div> <!--end row-->
                                </div><!--end blog post-->
                            </div><!--end col-->
        
                            {% endfor %}
        
                            <!-- PAGINATION START -->
                            <div class="col-12">
                                <ul class="pagination justify-content-center mb-0">
                                    {% if papers.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{papers.previous_page_number}}" aria-label="Previous">قبلی </a></li>
                                    {% endif %}

                                    {% for i in papers.paginator.page_range %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                    {% endfor %}

                                    {% if papers.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{papers.next_page_number}}" aria-label="Next">بعدی </a></li>
                                    {% endif %}
                                </ul>
                            </div><!--end col-->
                            <!-- PAGINATION END -->
                        </div><!--end row-->
                    </div><!--end col-->
                    <!-- Blog Post End -->

                    <!-- START SIDEBAR -->
                    <div class="col-lg-4 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                        <div class="card border-0 sidebar sticky-bar rounded shadow">
                            <div class="card-body">
                                <!-- SEARCH -->
                                <div class="widget">
                                    <form role="search" method="get", action="{% url 'guide_search' %}">
                                        <div class="input-group mb-3 border rounded">
                                            <input type="text" id="s" name="s" class="form-control border-0" placeholder="جستجوی کلمه کلیدی...">
                                            <button type="submit" class="input-group-text bg-transparent border-0" id="searchsubmit"><i class="uil uil-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <!-- SEARCH -->
    
                                <!-- Categories -->
                                <div class="widget mb-4 pb-2">
                                    <h5 class="widget-title">دسته بندیها </h5>
                                    <ul class="list-unstyled mt-4 mb-0 blog-categories">
                                        {% for cat in categories %}
                                            <li><a href="{% url 'guide_category' cat_name=cat.name %}">{{cat.name}}</a> <span class="float-end">{{cat.posts_count}}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- Categories -->
    
                                <!-- پست های اخیر -->
                                <div class="widget mb-4 pb-2">
                                    <h5 class="widget-title">پست های اخیر</h5>
                                    <div class="mt-4">
                                        {% for paper in last_papers %}
                                        <div class="clearfix post-recent">
                                            <div class="post-recent-thumb float-start"> <a href="{% url 'guide_single' paper_id=paper.id %}"> <img alt="img" src="{{paper.image.url}}" class="img-fluid rounded"></a></div>
                                            <div class="post-recent-content float-start"><a href="{% url 'guide_single' paper_id=paper.id %}">{{paper.title}}</a><span class="text-muted mt-2">{{paper.published_date|shamsidate}}</span></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- پست های اخیر -->
    
                                <!-- TAG CLOUDS -->
                                <div class="widget mb-4 pb-2">
                                    <h5 class="widget-title">برچسب ها</h5>
                                    <div class="tagcloud mt-4">
                                        {% for tag in tags %}
                                            <a href="{% url 'guide_tag' tag_name=tag.name %}" class="rounded">{{tag.name}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- TAG CLOUDS -->
                                
                                <!-- SOCIAL -->
                                <div class="widget">
                                    <h5 class="widget-title">دنبال کردن ما</h5>
                                    <ul class="list-unstyled social-icon mb-0 mt-4">
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                                    </ul><!--end icon-->
                                </div>
                                <!-- SOCIAL -->
                            </div>
                        </div>
                    </div><!--end col-->
                    <!-- END SIDEBAR -->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section -->
        <!--Blog Lists End-->

{% endblock %}