{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

<!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url({% static 'images/bookstore-main.jpg' %});">
            <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <div class="page-next-level title-heading">
                                <h2 class="text-white title-dark">{{book.title}}</h2>
                                    <p class="text-white-50 para-desc mb-0 mx-auto"> نویسنده: {{book.author}}</p>
                                    <p class="text-white-50 para-desc mb-0 mx-auto"> ناشر: انتشارات {{book.publication}}</p>
                                <div class="page-next">
                                    <nav aria-label="breadcrumb" class="d-inline-block">
                                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                                            <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه اصلی</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'bookstore_home' %}">کتابفروشی</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">{{book.title}}</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->

        <section class="section pb-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="tiny-single-item">
                            <div class="tiny-slide"><img src="{{book.image.url}}" class="img-fluid rounded" alt=""></div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-7 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ms-md-4">
                            <h4 class="title">{{book.title}}</h4>
                            <h5 class="text-muted">{{book.price|currency}} تومان</h5>
                            {% if book.count > 0 %}
                                <h5 class="text-muted">موجودی: {{book.count}} عدد</h5>
                            {% else %}
                                <h5 class="text-muted">تمام شد!</h5>
                            {% endif %}
                            
                            <h5 class="mt-4 py-2">بررسی:</h5>
                            <p class="text-muted">{{book.description|safe}}</p>

                            <div class="row mt-4 pt-2">
                                <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                                    <div class="d-flex shop-list align-items-center">
                                        <h6 class="mb-0">تعداد: </h6>
                                        <div class="qty-icons ms-3">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="btn btn-icon btn-soft-primary minus">-</button>
                                            <input min="0" name="quantity" value="0" type="number" class="btn btn-icon btn-soft-primary qty-btn quantity">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn btn-icon btn-soft-primary plus">+</button>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row--><br><br>

                            <div class="mt-4 pt-2">
                                <a href="javascript:void(0)" class="btn btn-primary">اکنون بخرید </a>
                                <a href="shop-cart.html" class="btn btn-soft-primary ms-2">افزودن به سبد</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            {% if request.POST %}
            <div class="container mt-100 mt-60">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-pills shadow flex-column flex-sm-row d-md-inline-flex mb-0 p-1 bg-white rounded position-relative overflow-hidden" id="pills-tab" role="tablist">
                            <li class="nav-item m-1">
                                <a class="nav-link py-2 px-5 rounded" id="description-data" data-bs-toggle="pill" href="#description" role="tab" aria-controls="description" aria-selected="false">
                                    <div class="text-center">
                                        <h6 class="mb-0">توضیحات </h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->

                            <li class="nav-item m-1">
                                <a class="nav-link py-2 px-5 rounded" id="additional-info" data-bs-toggle="pill" href="#additional" role="tab" aria-controls="additional" aria-selected="false">
                                    <div class="text-center">
                                        <h6 class="mb-0"> جزئیات کالا</h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->

                            <li class="nav-item m-1">
                                <a class="nav-link py-2 px-5 active rounded" id="review-comments" data-bs-toggle="pill" href="#review" role="tab" aria-controls="review" aria-selected="false">
                                    <div class="text-center">
                                        <h6 class="mb-0">نظرات </h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                        </ul>
                        
                        <div class="tab-content mt-5" id="pills-tabContent">
                            <div class="card border-0 tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-data">
                                <p class="text-muted mb-0">{{book.description|safe}}</p>
                            </div>

                            <div class="card border-0 tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-info">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="width: 100px;">نوع کالا </td>
                                            <td class="text-muted">کتاب</td>
                                        </tr>

                                        <tr>
                                            <td>عنوان کتاب </td>
                                            <td class="text-muted">{{book.title}}</td>
                                        </tr>

                                        <tr>
                                            <td>دسته بندی </td>
                                                <td class="text-muted">{% for cat in book.category.all %}<a href="{% url 'book_category' cat_name=cat.name %}">{{cat.name}}</a>{% if not forloop.last %} , {% endif %}{% endfor %}</td>
                                        </tr>

                                        <tr>
                                            <td>نویسنده </td>
                                            <td class="text-muted">{{book.author}}</td>
                                        </tr>

                                        <tr>
                                            <td>مترجم </td>
                                            <td class="text-muted">{{book.translator}}</td>
                                        </tr>

                                        <tr>
                                            <td>نشر </td>
                                            <td class="text-muted">{{book.publication}}</td>
                                        </tr>

                                        <tr>
                                            <td>شابک </td>
                                            <td class="text-muted">{{book.shabak}}</td>
                                        </tr>

                                        <tr>
                                            <td>قیمت </td>
                                            <td class="text-muted">{{book.price|currency}} تومان </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="card border-0 tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-comments">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="media-list list-unstyled mb-0">
                                            {% for comment in comments %}
                                            <li>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <a class="pe-3" href="#">
                                                            <img src="{% static 'images/avatar.png' %}" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                        </a>
                                                        <div class="flex-1 commentor-detail">
                                                            <h6 class="mb-0">{{comment.name}}</h6>
                                                            <small class="text-muted">{{comment.created_date|shamsidate}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-3">
                                                    <p class="text-muted fst-italic p-3 bg-light rounded">"{{comment.message}}"</p>
                                                </div>
                                            </li>
                                            {% empty %}
                                                <br>
                                                <p>هیج نظری تا به اینجا ثبت نشده است!</p>
                                            {% endfor %}
                                        </ul>
                                    </div><!--end col-->

                                    <div class="col-lg-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                                            {% endfor %}
                                        {% endif %}

                                        {% if form.errors %}
                                        <div class="alert alert-error">
                                          <h4>Please fix the following errors</h4>
                                            <ul>
                                                {% for field in form %}
                                                  {% if field.errors %}
                                                    {% for error in field.errors %}
                                                      <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                                                    {% endfor %}
                                                  {% endif %}
                                                {% endfor %}
                                            </ul>
                                              {% if form.non_field_errors %}
                                                {{ form.non_field_errors }}
                                              {% endif %}
                                            </div>
                                        {% endif %}

                                        <form class="ms-lg-4" action="{% url 'bookstore_single' book_id=book.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="book" value={{book.id}}>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5>اضافه کردن نظر:</h5>
                                                </div>
                                                <div class="col-md-12 mt-3">
                                                    <div class="mb-3">
                                                        <label class="form-label">نظر شما:</label>
                                                        <div class="form-icon position-relative">
                                                            <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                                            <textarea id="message" placeholder="کامنت شما" rows="5" name="message" class="form-control ps-5" required=""></textarea>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">نام  <span class="text-danger">*</span></label>
                                                        <div class="form-icon position-relative">
                                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                                            <input id="name" name="name" type="text" placeholder="نام" class="form-control ps-5" required="">
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">ایمیل شما <span class="text-danger">*</span></label>
                                                        <div class="form-icon position-relative">
                                                            <i data-feather="mail" class="fea icon-sm icons"></i>
                                                            <input id="email" type="email" placeholder="ایمیل" name="email" class="form-control ps-5" required="">
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
            
                                                <div class="col-md-12">
                                                    <div class="send d-grid">
                                                        <button type="submit" class="btn btn-primary">ارسال </button>
                                                    </div>
                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </form><!--end form-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end container-->
            {% else %}
            <div class="container mt-100 mt-60">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-pills shadow flex-column flex-sm-row d-md-inline-flex mb-0 p-1 bg-white rounded position-relative overflow-hidden" id="pills-tab" role="tablist">
                            <li class="nav-item m-1">
                                <a class="nav-link py-2 px-5 active rounded" id="description-data" data-bs-toggle="pill" href="#description" role="tab" aria-controls="description" aria-selected="false">
                                    <div class="text-center">
                                        <h6 class="mb-0">توضیحات </h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->

                            <li class="nav-item m-1">
                                <a class="nav-link py-2 px-5 rounded" id="additional-info" data-bs-toggle="pill" href="#additional" role="tab" aria-controls="additional" aria-selected="false">
                                    <div class="text-center">
                                        <h6 class="mb-0"> جزئیات کالا</h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->

                            <li class="nav-item m-1">
                                <a class="nav-link py-2 px-5 rounded" id="review-comments" data-bs-toggle="pill" href="#review" role="tab" aria-controls="review" aria-selected="false">
                                    <div class="text-center">
                                        <h6 class="mb-0">نظرات </h6>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                        </ul>

                        <div class="tab-content mt-5" id="pills-tabContent">
                            <div class="card border-0 tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-data">
                                <p class="text-muted mb-0">{{book.description|safe}}</p>
                            </div>

                            <div class="card border-0 tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-info">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="width: 100px;">نوع کالا </td>
                                            <td class="text-muted">کتاب</td>
                                        </tr>

                                        <tr>
                                            <td>عنوان کتاب </td>
                                            <td class="text-muted">{{book.title}}</td>
                                        </tr>

                                        <tr>
                                            <td>دسته بندی </td>
                                                <td class="text-muted">{% for cat in book.category.all %}<a href="{% url 'book_category' cat_name=cat.name %}">{{cat.name}}</a>{% if not forloop.last %} , {% endif %}{% endfor %}</td>
                                        </tr>

                                        <tr>
                                            <td>نویسنده </td>
                                            <td class="text-muted">{{book.author}}</td>
                                        </tr>

                                        <tr>
                                            <td>مترجم </td>
                                            <td class="text-muted">{{book.translator}}</td>
                                        </tr>

                                        <tr>
                                            <td>نشر </td>
                                            <td class="text-muted">{{book.publication}}</td>
                                        </tr>

                                        <tr>
                                            <td>شابک </td>
                                            <td class="text-muted">{{book.shabak}}</td>
                                        </tr>

                                        <tr>
                                            <td>قیمت </td>
                                            <td class="text-muted">{{book.price|currency}} تومان </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="card border-0 tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-comments">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="media-list list-unstyled mb-0">
                                            {% for comment in comments %}
                                            <li>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <a class="pe-3" href="#">
                                                            <img src="{% static 'images/avatar.png' %}" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                        </a>
                                                        <div class="flex-1 commentor-detail">
                                                            <h6 class="mb-0">{{comment.name}}</h6>
                                                            <small class="text-muted">{{comment.created_date|shamsidate}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-3">
                                                    <p class="text-muted fst-italic p-3 bg-light rounded">"{{comment.message}}"</p>
                                                </div>
                                            </li>
                                            {% empty %}
                                                <br>
                                                <p>هیج نظری تا به اینجا ثبت نشده است!</p>
                                            {% endfor %}
                                        </ul>
                                    </div><!--end col-->

                                    <div class="col-lg-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                                            {% endfor %}
                                        {% endif %}

                                        {% if form.errors %}
                                        <div class="alert alert-error">
                                          <h4>Please fix the following errors</h4>
                                            <ul>
                                                {% for field in form %}
                                                  {% if field.errors %}
                                                    {% for error in field.errors %}
                                                      <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                                                    {% endfor %}
                                                  {% endif %}
                                                {% endfor %}
                                            </ul>
                                              {% if form.non_field_errors %}
                                                {{ form.non_field_errors }}
                                              {% endif %}
                                            </div>
                                        {% endif %}

                                        <form class="ms-lg-4" action="{% url 'bookstore_single' book_id=book.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="book" value={{book.id}}>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5>اضافه کردن نظر:</h5>
                                                </div>
                                                <div class="col-md-12 mt-3">
                                                    <div class="mb-3">
                                                        <label class="form-label">نظر شما:</label>
                                                        <div class="form-icon position-relative">
                                                            <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                                            <textarea id="message" placeholder="کامنت شما" rows="5" name="message" class="form-control ps-5" required=""></textarea>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->

                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">نام  <span class="text-danger">*</span></label>
                                                        <div class="form-icon position-relative">
                                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                                            <input id="name" name="name" type="text" placeholder="نام" class="form-control ps-5" required="">
                                                        </div>
                                                    </div>
                                                </div><!--end col-->

                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">ایمیل شما <span class="text-danger">*</span></label>
                                                        <div class="form-icon position-relative">
                                                            <i data-feather="mail" class="fea icon-sm icons"></i>
                                                            <input id="email" type="email" placeholder="ایمیل" name="email" class="form-control ps-5" required="">
                                                        </div>
                                                    </div>
                                                </div><!--end col-->

                                                <div class="col-md-12">
                                                    <div class="send d-grid">
                                                        <button type="submit" class="btn btn-primary">ارسال </button>
                                                    </div>
                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </form><!--end form-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end container-->
            {% endif %}

            <div class="container mt-100 mt-60">
                <div class="row">
                    <div class="col-12">
                        <h5 class="mb-0">محصولات اخیر</h5>
                    </div><!--end col-->

                    <div class="col-12 mt-4">
                        <div class="tiny-four-item">
                            {% for last_book in last_books %}
                            <div class="tiny-slide">
                                <div class="card shop-list border-0 position-relative m-2">
                                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                                        <a href="{% url 'bookstore_single' book_id=last_book.id %}"><img src="{{last_book.image.url}}" class="img-fluid" alt=""></a>
                                        <a href="{% url 'bookstore_single' book_id=last_book.id %}" class="overlay-work">
                                            <img src="{{last_book.image.url}}" class="img-fluid" alt="">
                                        </a>
                                        <ul class="list-unstyled shop-icons">
                                            <li><a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger"><i data-feather="heart" class="icons"></i></a></li>
                                            <li class="mt-2"><a href="shop-cart.html" class="btn btn-icon btn-pills btn-soft-warning"><i data-feather="shopping-cart" class="icons"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="card-body content pt-4 p-2">
                                        <a href="{% url 'bookstore_single' book_id=last_book.id %}" class="text-dark product-name h6">{{last_book.title}}</a>
                                        <div class="d-flex justify-content-between mt-1">
                                            <h6 class="text-muted small fst-italic mb-0 mt-1">{{last_book.price|currency}} تومان </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container-fluid mt-100 mt-60 px-0"></div>
        </section><!--end section-->
{% endblock %}