{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load mathfilters %}
{% block content %}

        <!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url({% static 'images/cart-bg.jpg' %});">
            <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <div class="page-next-level">
                                <h2 class="text-white title-dark">سبد خرید</h2>
                                <div class="page-next">
                                    <nav aria-label="breadcrumb" class="d-inline-block">
                                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                                            <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه اصلی</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'bookstore_home' %}">کتابفروشی</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->

        <!-- Modal Content Start -->
        {% for product in user_cart.products.all %}
        <div class="modal fade" id="p{{product.pk}}" tabindex="-1" aria-labelledby="composemail-title" aria-hidden="true" style="overflow-x: hidden; width:600px; margin-right:33%;">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content rounded shadow border-0">
                    <div class="modal-header border-bottom">
                        <h5 class="modal-title" id="composemail-title">حدف کتاب از سبد خرید</h5><br>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="d-flex border-bottom p-3">
                            <div class="form-check ps-0">
                                <div class="mb-0">
                                    <div class="form-check">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_pk" value={{product.pk}}>
                                            <h6 style="margin-right:15px;">آیا می خواهید کتاب {{product.book.title}} را از سبد خرید حذف کنید؟</h6><br>
                                            <button name="del_submit" type="submit" class="btn btn-primary" style="margin-right:62px; background-color:#f44336;">بله میخواهم حذف کنم</button>
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="بستن">خیر نمی خواهم</button><br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Modal Content End -->


        <!-- Start -->
        {% if user_cart.products.all %}
        <section class="section">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive bg-white shadow">
                            <table class="table table-center table-padding mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-bottom py-3" style="min-width:20px "></th>
                                        <th class="border-bottom py-3" style="min-width: 300px;">محصول </th>
                                        <th class="border-bottom text-center py-3" style="min-width: 160px;">قیمت </th>
                                        <th class="border-bottom text-center py-3" style="min-width: 160px;">تعداد </th>
                                        <th class="border-bottom text-center py-3" style="min-width: 160px;">مجموع </th>
                                    </tr>
                                </thead>

                                <tbody>

                                {% for product in user_cart.products.all %}
                                    <tr class="shop-list">
                                        <td class="h6"><a data-bs-toggle="modal" data-bs-target="#p{{product.pk}}" href="" class="text-danger">X</a></td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="images/shop/product/s1.jpg" class="img-fluid avatar avatar-small rounded shadow" style="height:auto;" alt="">
                                                <h6 class="mb-0 ms-3">{{product.book.title}} </h6>
                                            </div>
                                        </td>
                                        <td class="text-center">{{product.book.price|currency}} تومان</td>
                                        <td class="text-center qty-icons">
                                            <input min="1" name="product_count{{product.pk}}" value="{{product.count}}" max="{{product.book.count}}" type="number" class="btn btn-icon btn-soft-primary quantity">
                                        </td>
                                        <td class="text-center fw-bold">{{product.book.price|mul:product.count|currency}} تومان</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <div class="row">
                    <div class="col-lg-8 col-md-6 mt-4 pt-2">
                        <a href="{% url 'bookstore_home' %}" class="btn btn-primary">خرید بیشتر </a>
                        <button name="update_submit" type="submit" class="btn btn-soft-primary ms-2">بروز رسانی سبد</button>
                    </div>
                </form>
                    <div class="col-lg-4 col-md-6 ms-auto mt-4 pt-2">
                        <div class="table-responsive bg-white rounded shadow">
                            <table class="table table-center table-padding mb-0">
                                <tbody>
                                    <tr>
                                        <td class="h6">مجموع </td>
                                        <td class="text-center fw-bold">{{user_cart.total_price|currency}} تومان</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-4 pt-2 text-end">
                            <a href="{% url 'checkout' %}" class="btn btn-primary">ادامه به پرداخت </a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        {% else %}
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3>در حال حاضر سبد خرید شما خالی است!</h3>
                            <a href="{% url 'bookstore_home' %}">برای خرید به فروشگاه بروید</a>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
        <!-- End -->
{% endblock %}