{% extends 'base.html' %}
{% block title %} وبسایت پیشه - صورت حساب {% endblock %}
{% load static %}
{% load blog_tags %}
{% block content %}

        <!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url({% static 'images/pay-bg.jpg' %});">
            <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <div class="page-next-level">
                                <h2 class="text-white title-dark">پرداخت صورت حساب</h2>
                                <div class="page-next">
                                    <nav aria-label="breadcrumb" class="d-inline-block">
                                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                                            <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه اصلی</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'bookstore_home' %}">کتابفروشی</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">پرداخت صورت حساب</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->

        <!-- Start -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <div class="rounded shadow-lg p-4">
                            <h5 class="mb-0">جزئیات صورتحساب :</h5>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">نام شما <span class="text-danger">*</span></label>
                                            <input name="firstname" id="firstname" type="text" class="form-control" placeholder="به عنوان مثال : محمد" value="{{user.firstname}}">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">نام خانوادگی  <span class="text-danger">*</span></label>
                                            <input name="lastname" id="lastname" type="text" class="form-control" placeholder="به عنوان مثال‌ : محمدی" value="{{user.lastname}}">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">کد ملی  <span class="text-danger">*</span></label>
                                            <input name="meli_code" id="meli_code" type="text" class="form-control" placeholder="کد ملی ۱۰ رقمی" value="{{user.meli_code}}">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">کد پستی  <span class="text-danger">*</span></label>
                                            <input name="post_code" id="post_code" type="text" class="form-control" placeholder="کد ملی ۱۰ رقمی" value="{{user.post_code}}">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">آدرس محل سکونت <span class="text-danger">*</span></label>
                                            <input type="text" name="address" id="address" class="form-control" placeholder="آدرس کامل" value="{{user.address}}">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">موبایل <span class="text-danger">*</span></label>
                                            <input type="text" name="mobile_phone" id="mobile_phone" class="form-control" placeholder="شماره موبایل به همراه صفر" value="{{user.mobile_phone}}">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">تلفن ثابت  <span class="text-danger">*</span></label>
                                            <input type="text" name="home_phone" id="home_phone" class="form-control" placeholder="شماره تلفن ثابت به همراه کد شهر" value="{{user.home_phone}}">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">استان  <span class="text-danger">*</span></label>
                                            <input type="text" name="state" id="state" class="form-control" placeholder="به عنوان مثال : تهران" value="{{user.state}}">
                                        </div><br><br>
                                    </div><!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">شهر  <span class="text-danger">*</span></label>
                                            <input type="text" name="city" id="city" class="form-control" placeholder="به عنوان مثال : کرج" value="{{user.city}}">
                                        </div><br><br>
                                    </div><!--end col-->
                                </div><!--end row-->
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="rounded shadow-lg p-4 sticky-bar">
                            <div class="d-flex mb-4 justify-content-between">
                                <h5>4 آیتم </h5>
                                <a href="{% url 'cart' %}" class="text-muted h6">نمایش جزئیات</a>
                            </div>
                            <form method="post">
                            <div class="table-responsive">
                                <table class="table table-center table-padding mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="h6 border-0">مجموع </td>
                                            <td class="text-end fw-bold border-0">{{user_cart.total_price|currency}} تومان</td>
                                        </tr>
                                        <tr>
                                            <td class="h6">هزینه حمل و نقل</td>
                                            <td class="text-end fw-bold">رایگان</td>
                                        </tr>
                                        <tr class="bg-light">
                                            <td class="h5 fw-bold">مجموع </td>
                                            <td class="text-end text-primary h4 fw-bold">{{user_cart.total_price|currency}} تومان</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <ul class="list-unstyled mt-4 mb-0">
                                    <li>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="banktransfer">
                                                <label class="form-check-label" for="banktransfer">درگاه پرداخت اینترنتی</label>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="mt-3">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="cashdelivery">
                                                <label class="form-check-label" for="cashdelivery">پرداخت نقدی هنگام تحویل</label>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                                <div class="mt-4 pt-2">
                                    <div class="d-grid">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary" style="width:100%;">پرداخت</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->
{% endblock %}