{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

<!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url({% static 'images/bookstore-main.jpg' %});">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level title-heading">
                            <h1 class="text-white title-dark"> کتابفروشی </h1>
                            <p class="text-white-50 para-desc mb-0 mx-auto">اینجا کتابفروشی ماست. به راحتی کتاب هایی را که می خواهید سفارش بدهید.</p>
                            <div class="page-next">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">صفحه اصلی</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">کتابفروشی</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->

        <!-- Start Products -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card border-0 sidebar sticky-bar">
                            <div class="card-body p-0">

                                <!-- SEARCH -->
                                <div class="widget">
                                    <form role="search" method="get" action="{% url 'bookstore_search' %}">
                                        <div class="input-group mb-3 border rounded">
                                            <input type="text" id="s" name="s" class="form-control border-0" placeholder="جستجوی نام کتاب...">
                                            <button type="submit" class="input-group-text bg-white border-0" id="searchsubmit"><i class="uil uil-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <!-- SEARCH -->

                                <!-- Categories -->
                                <div class="widget mt-4 pt-2">
                                    <h5 class="widget-title">دسته بندیها </h5>
                                    <ul class="list-unstyled mt-4 mb-0 blog-categories">
                                        {% for cat in categories %}
                                        <li><a href="{% url 'book_category' cat_name=cat.name %}">{{cat.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- Categories -->

                                <!-- Top Products -->
                                <div class="widget mt-4 pt-2">
                                    <h5 class="widget-title">محصولات اخیر </h5>
                                    <ul class="list-unstyled mt-4 mb-0">
                                        {% for last_book in last_books %}
                                        <li class="d-flex align-items-center">
                                            <a href="{% url 'bookstore_single' book_id=last_book.id %}">
                                                <img src="{{last_book.image.url}}" class="img-fluid avatar avatar-small rounded shadow" style="height:auto;" alt="">
                                            </a>
                                            <div class="flex-1 content ms-3">
                                                <a href="{% url 'bookstore_single' book_id=last_book.id %}" class="text-dark h6">{{last_book.title}}</a>
                                                <h6 class="text-muted small fst-italic mb-0 mt-1">{{last_book.price|currency}} تومان </h6>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-9 col-md-8 col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-7">
                                <div class="section-title">

                                </div>
                            </div><!--end col-->
        
                            <div class="col-lg-4 col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <div class="d-flex justify-content-md-between align-items-center">

                                </div>
                            </div><!--end col-->
                        </div><!--end row-->

                        <div class="row">
                            {% for book in books %}
                            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                                <div class="card shop-list border-0 position-relative">
                                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                                        <a href="{% url 'bookstore_single' book_id=book.id %}"><img src="{{book.image.url}}" class="img-fluid" alt=""></a>
                                        <a href="{% url 'bookstore_single' book_id=book.id %}" class="overlay-work">
                                            <img src="{{book.image.url}}" class="img-fluid" alt="">
                                        </a>
                                        <ul class="list-unstyled shop-icons">
                                            <li><a href="{% url 'bookstore_single' book_id=book.id %}" class="btn btn-icon btn-pills btn-soft-danger"><i data-feather="heart" class="icons"></i></a></li>
                                            <li class="mt-2"><a href="shop-cart.html" class="btn btn-icon btn-pills btn-soft-warning"><i data-feather="shopping-cart" class="icons"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="card-body content pt-4 p-2">
                                        <a href="{% url 'bookstore_single' book_id=book.id %}" class="text-dark product-name h6">{{book.title}}</a>
                                        <div class="d-flex justify-content-between mt-1">
                                            <h6 class="text-muted small fst-italic mb-0 mt-1">{{book.price|currency}} تومان</h6>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->
                            {% endfor %}

                            <!-- PAGINATION START -->
                            <div class="col-12 mt-4 pt-2">
                                <ul class="pagination justify-content-center mb-0">
                                    {% if books.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{books.previous_page_number}}" aria-label="Previous">قبلی </a></li>
                                    {% endif %}

                                    {% for i in books.paginator.page_range %}
                                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                    {% endfor %}

                                    {% if books.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{books.next_page_number}}" aria-label="Next">بعدی </a></li>
                                    {% endif %}
                                </ul>
                            </div><!--end col-->
                            <!-- PAGINATION END -->
                        </div><!--end row-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Products -->
{% endblock %}